$snow: #8B8989;
$snowWhite: #FFFAFA;
* {
	font-family: 'Source Sans Pro', sans-serif;
}
body {
	background-color: darken($snow, 10%);
div {
	&#inputDiv {

		height: 500px;
		background-color: transparent;
	}
	&#weather {
		margin-top: 10%;
		width: 500px;
		height: 200px;
		border: 3px solid $snowWhite;
		border-radius: 20px;
	}
}
h1 {
	color: $snowWhite;
}
p {
	color: $snowWhite;
	font-size: 2em;
	margin-top: 5%;
	&#instructions {
		font-size: 1.7em;
	}
}
form {
	margin-top: 5%;
}
input  {
	font-family: 'Source Sans Pro', sans-serif;
	color: $snowWhite;
	background-color: transparent;
	width: 400px;
	height: 60px;
	border: 5px solid $snowWhite;
	border-radius: 10px;
	font-size: 1.5em;
	padding-left: 5px;
	padding-right: 5px;
	outline: none;

}
button {
	color: $snowWhite;
	background-color: transparent;
	width: 120px;
	height: 60px;
	border: 5px solid $snowWhite;
	border-radius: 10px;
	font-size: 1.2em;
	&:hover {
		background-color: $snowWhite;
		color: darken($snow, 40%);
		border: 5px solid darken($snow, 40%);
	};
}
}


